<div class="container">
  <div class="py-5 text-center">
    <h2>Password Change Component</h2>
    <p class="lead">Below is an example form that includes changing user's password.</p>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">BAccount setting</h4>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="password">Password</label>
            <button type="button" (click)="showPasswordForm()" class="btn btn-primary btn-sm"> Change </button> 
          </div>
        </div>
        <div class="row" *ngIf="editPassword">
          <div class="col-md-12">
            <app-password-editor [model]="passwordModel" (post)="postPassword($event)" (cancel)="cancelPassword($event)"></app-password-editor>
          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>