<form id="passwordChanger" class="needs-validation" novalidate="" #passwordChangeForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="currentPassword">{{model.labelCurrentPassword}}</label>
      <input type="password" class="form-control" id="currentPassword" [(ngModel)]="outputModel.currentPassword"
        #currentPassword="ngModel" name="currentPassword" placeholder="" value="" required="" appPasswordEditor>
      <div class="alert alert-danger"
        *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
        Current password is required.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="newPassword">{{model.labelNewPassword}}</label>
      <input type="password" class="form-control" id="newPassword" [(ngModel)]="outputModel.newPassword"
        #newPassword="ngModel" name="newPassword" placeholder="" value="" required appPasswordValidation appPasswordEditor >
      <div class="alert alert-danger" *ngIf="newPassword.errors?.required && (newPassword.dirty || newPassword.touched)">
        New password is required.
      </div>
      <div class="alert alert-danger" *ngIf="newPassword.errors?.passwordRequirementsNotMet && newPassword.touched  &&!newPassword.errors?.required">
        Password does not meet password requirements
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="newPasswordConfirm">{{model.labelNewPasswordConfirm}}</label>
      <input type="password" class="form-control" id="newPasswordConfirm" [(ngModel)]="outputModel.newPasswordConfirm"
        #newPasswordConfirm="ngModel" name="newPasswordConfirm" placeholder="" value="" required appPasswordEditor>
      <div class="alert alert-danger"
        *ngIf="newPasswordConfirm.invalid && (newPasswordConfirm.dirty || newPasswordConfirm.touched)">
        Confirm password is required.
      </div>
      <div class="alert alert-danger" *ngIf="!(newPassword.value == newPasswordConfirm.value)">
        Passwords need te match.
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-2">
      <button class="btn btn-primary btn-sm btn-block" type="submit"
        [disabled]="!passwordChangeForm.form.valid">Save</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-danger btn-sm btn-block" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>